# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse & VS Code
*.iml
.idea/
.project
.classpath
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# OS files
.DS_Store
Thumbs.db
